@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

body{
  background-color: rgba(0,0,0,0.98);
  margin:0;
}

content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image-logo{
  width: 275px;
  height: auto;
  margin: auto;
  user-select: none;
  -webkit-user-drag: none;
}

.image-drone{
  width: auto;
  height: auto;
  filter: drop-shadow(0 15px 15px rgba(0,0,0,1));
  user-select: none;
  -webkit-user-drag: none;

}

h1{
  color: white;
  font-family: 'Montserrat';
  font-weight: 900;
  margin: 10px 0 5px 0;
  user-select: none;
}

p{
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
  margin: 0;
  user-select: none;
}

a{
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

@media(max-width:767px){
  .image-logo{
    width: 200px;
  }

  .image-drone{
    max-width: 100vw;
    max-height: 100vh;
  }

  h1{
    font-size: 22px;
  }

  p{
    font-size: 14px;
  }
}